#Django==1.11
#this project is using django version 1.11 but i will late upgrade to the latest version of django
#django-bootstrap-datepicker-plus==1.0.0
django-bootstrap-form==3.4
django-queryset-csv==1.0.1
django-sendgrid-v5==0.6.87
python-http-client==3.0.0
pytz==2018.4
sendgrid==3.6.5
sendgrid-django==4.2.0
unicodecsv==0.14.1
