<!--payslip.html-->

<style>

.css-serial {
  counter-reset: serial-number;  /* Set the serial number counter to 0 */
}

.css-serial td:first-child:before {
  counter-increment: serial-number;  /* Increment the serial number counter */
  content: counter(serial-number);  /* Display the counter */
}

</style>

{% extends "dashboard.html"%}

{%block content%}

<!--<p> My Payslip information</p>-->
<div class="container">

  <h3><span data-feather="align-justify"></span> Manage My Portoriki Church Minutes</h3>
  <ul class="nav nav-pills">
    <!--<li><a href="#"><span data-feather="pie-chart"></span> My payslip report</a></li>-->
    <li><a href="{% url 'addminute'%}"><span data-feather="plus-square"></span>Add Minutes</a></li>
    <li><a href="{% url 'bydate'%}"><span data-feather="bar-chart-2"></span>By Date</a></li>
      <!--<li><a href="{%url 'download_csv'%}"> <span data-feather="download-cloud"></span> Download CSV File </a></li>-->
  <!--<li class="active"><a href="#"> <span data-feather="bar-chart-2"></span> My Vatu Account Reports </a></li>-->

</div>

<table class="table table-striped css-serial">
  <thead>

<tr>

<th>#</th>
<th><span data-feather="book-open"></span>Report</th>
<th><span data-feather="edit-3"></span>Edit</th>
<th><span data-feather="trash-2"></span>Drop</th>
  <th>Date</th>
  <th>Taken By</th>
  <th>Agender</th>
  <th>Minute Body</th>
  <th>Comments</th>


</tr>

</thead>

{%for a in query_name%}

<tr  class="success">
  <td></td>
  <!--<td><a class="nav-link" href="/updatecontact/{{a.id}}/"><span data-feather="edit-3"></span></a></td>
-->
<td><a class="nav-link" href="{% url 'display_data' a.id %}"><span data-feather="book-open"></span></a></a></td>
<td><a class="nav-link" href="{% url 'updateminute' a.id %}"><span data-feather="edit-3"></span></a></a></td>
<td><a class="nav-link" href="{% url 'drop_minute' a.id %}"><span data-feather="trash-2"></span></a></a></td>


<td>{{a.date}}</td>
<td>{{a.Taken_By}}</td>
<td>{{a.Agender}}</td>
<td>{{a.body}}</td>
<td>{{a.comment}}</td>




</tr>
{%endfor%}

</table>


{%endblock%}
